body {
    background: black;
    color: white;
    margin: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#root {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    height: 100%;
    margin: 0;
    display: -webkit-flex;
    display: flex;
}

#panel {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    margin: 0;
    height: 100%;
}

ol {
    padding-left: 20px;
}
